<% @page_title = "Player Loggedin Homepage"%>

<div class="menu">
    <h2>Player homepage</h2>
    <div class="identity">Logged in as: </div>
    <ul>
        <li><%= link_to('Nothing Special', "#")%></li>
        <li><%= link_to('logout', player_access_logout_path)%></li>
    </ul>
</div>