<div class="col-md-4 item-set-cover text-center">
    <%= image_tag("plus_sign.png",:class=>"img-fluid center-block item-set-cover-image")%>
    <hr>
    <p class="set-name">
        New Item Set
    </p>
</div>